<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/1.0"
xmlns:gap="http://phonegap.com/ns/1.0"
id="com.goldenrod.yaldizfmradyos1v2"
version="2.0.0">
<name>Yaldiz FM Radyo S1 : V2</name>

<description>Kaliteli muzigin tek adresi yeni versiyonuyla sizlerle hemen deneyin.</description>

<author href="http://ezel200.github.com"
email="cezanefret012010@gmail.com">
İsmail Salmanoğlu
</author>

<icon src="yaldizfms1v2icon.png" gap:role="default" />

<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/network"/>

<preference name="orientation" value="portrait"/>
</widget>